# API Base URL
VITE_API_BASE_URL=https://anhtuan05.pythonanywhere.com

# OAuth2 Client Credentials
VITE_OAUTH_CLIENT_ID=PgaDmKIxd4QitVu6uHji0B7UQ4LQVIcOTpahc4Vp
VITE_OAUTH_CLIENT_SECRET=Kol1igvmGhxYPLjdafUJG923Bo9zNgBremaIvTlIwoPRpGSoA6LHNvphph62ggUfEyLjUyg68N2DfZxbERdd5TexbN5Ef4ClRFVpDtdfa5ExsR8DBNRDH6LD0TIWDqJR

# Plate Recognizer API Token (Optional / Mock Fallback available)
VITE_PLATE_RECOGNIZER_TOKEN=Token 3fc443b0688e2b27960d9af3c82a14e27c52302b

# Mock Mode (Set to true to use offline mock handlers)
VITE_USE_MOCK_API=false
