:root {
    --main-bg-color: #008000;
    --main-bg-color2: #62ba6253;
    --main-hover-color: #006400;
    --main-dropmenu-color: #008B8B;
    --main-text-color: #333333;
    --main-text-color-w: #ffffff;
    --main-btn-color-green: #28a745;
    --main-btn-color-blue: #088F8F;
    --main-textshadow-color: #ed105d;
}


body {
    margin: 0 auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    cursor: pointer;
}

form {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="tel"] {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    padding: 15px 40px;
    background-color: var(--main-btn-color-blue);
    color: var(--main-text-color-w);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:disabled {
    background-color: #cccccc;
    cursor: auto;
}

.must-be-logged {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.must-be-logged a{
    text-decoration: underline;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

.must-be-logged a:hover{
    color: var(--main-hover-color);
    background-color: var(--main-bg-color2);
}